<div id="main_loading" ng-show="isLoading"><span>Carregando...</span></div>
<div id="main_loading" ng-show="isLoadingMap"><span>Carregando mapa...</span></div>

<header>
    <div class="container">
        <div class="logo">
            <img src="images/topo_logo_zup.png" alt="ZUP">
        </div>

        <div class="navigation centered-pills">
            <ul class="nav nav-pills">
                <li class="active"><a href="index.html">Explore</a></li>
                <li><a href="statistics.html">Estatísticas</a></li>
            </ul>
        </div>

        <div class="account">
            <a href="" class="btn btn-azul" ng-click="newReport()" ng-show="logged"><img src="images/solicitacao.png"> Faça uma solicitação</a>
            <a href="" class="btn btn-azul" ng-click="login()" ng-hide="logged"><img src="images/solicitacao.png"> Faça uma solicitação</a>
            <a href="" class="btn btn-auth" ng-click="login()" ng-hide="logged">Entrar ou criar conta</a>

            <div class="dropdown" ng-show="logged">
                <a data-toggle="dropdown" href="" class="btn-logged-in">{{ me.name }} <span class="arrow"></span>&nbsp;</a>

                <ul class="dropdown-menu">
                    <li><a href="#/reports">Minhas solicitações</a></li>
                    <li><a href="#/account">Alterar cadastro</a></li>
                    <li><a href="" ng-click="logout()">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="clearfix"></div>

<section id="content">

    <div class="container">
        <div class="col-xs-4 aside">
            <h6>Exibir solicitações de</h6>

            <a href="" class="sidebar_filter active" ng-repeat="category in categories" ng-style="{'background-image':'url(' + category.icon.url + ')'}" ng-click="filterByReportCategory(category)" filter-reports-category>{{ category.title }}</a>

            <hr />

            <div class="slider_content">
              <div id="slider" slider-filter></div>

              <div class="slider-dots">
                  <div class="slider-1">Últimos<br />6 meses</div>
                  <div class="slider-2">Últimos<br />3 meses</div>
                  <div class="slider-3">Último<br />mês</div>
                  <div class="slider-4">Última<br />semana</div>
              </div>
            </div>

            <div class="clearfix"></div>

            <ul class="nav nav-pills nav-stacked">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="">
                        Todos os status <img src="images/filtros_chevron_normal.png">
                    </a>
                    <ul class="dropdown-menu right">
                        <li style="padding: 20px; background: #262626; color: #FFF; font-size: 13px;">Limpeza de boca de lobo</li>
                        <li><a href="#" class="selected">Não resolvidos</a></li>
                        <li><a href="#">Resolvidos</a></li>
                        <li style="padding: 20px; background: #262626; color: #FFF; font-size: 13px;">Coleta de entulho</li>
                        <li><a href="#">Não resolvidos</a></li>
                        <li><a href="#" class="selected">Todos os status</a></li>
                    </ul>
            </ul>

            <h6>Exibir pontos de</h6>
            <a href="" class="exibir-floresta-urbana">Floresta urbana</a>
            <a href="" class="exibir-pracas-wifi">Praças com Wi-Fi</a>
            <a href="" class="exibir-bocas-lobo">Bocas de<br />lobo</a>
        </div>

        <div class="col-xs-8 map">
            <div id="map-canvas" class="mapa" main-map></div>
            <form role="form">
                <input type="name" class="search_map" placeholder="Pesquisar" search-map>
                <input type="reset" class="reset_map" value="x">
            </form>
        </div>
    </div>

</section>
