<button type="button" class="close" ng-click="close()"></button>
<div class="solicitacao" style="height: auto;">
    <div class="padding">
        <h1>Protocolo {{ report.protocol }}</h1>
        <hr />
        <span class="resolvido" ng-style="{'background-color': status.color }">{{ status.title }}</span>
        <h2>{{ category.title }}</h2>
        <p class="muted">{{ report.address }}</p>
        <b>Enviada há {{ report.created_at | date: 'dd/MM/yy HH:mm'}}</b>
        <img ng-src="{{ report.images[0].url }}" ng-hide="report.images.length == 0">
        <p class="desc">{{ report.description }}</p>
    </div>
</div>
</div>