<button type="button" class="close" ng-click="close()"></button>
<div class="newRequest" ng-file-drop>
    <div class="loadingRequest" ng-show="processingForm"><span><img src="images/loading.gif" /></span></div>

    <h1>Nova solicitação</h1>
    <h3>1. Selecione a categoria</h3>

    <hr />

    <a href="" class="filtro report_filter" ng-repeat="category in categories" ng-click="selectCategory(category)" report-category-icon>
        <span class="icon" ng-style="{'background-image':'url(' + category.icon.retina.web.active + ')'}"></span>
        <span class="text">{{ category.title }}</span>
    </a>

    <div ng-hide="categoryData == null">
        <h3>2. Selecione o endereço ou arraste o marcador até a posição exata</h3>

        <div class="report_map">
          <div id="map-canvas" report-map></div>
          <form role="form">
              <input type="name" class="search_map" placeholder="Pesquisar" ng-model="$parent.formattedAddress" search-report-map>
              <input type="reset" class="reset_map" value="x">
          </form>
        </div>

        <!--<span class="formattedAddress">{{ formattedAddress }}</span>-->

        <h3>3. Adicione uma ou até 3 fotos</h3>

        <hr />

        <form role="form" ng-submit="send()">
            <div class="upload btn btn-default btn-upload">
                <span>Selecione o arquivo</span>

                <input ng-file-select type="file" multiple  />
            </div>

            <div class="queue">
              <div class="image" ng-repeat="item in uploader.queue">
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, width: 150, height: 150 }"></div>

                <span ng-show="!uploader.isHTML5">{{ item.file.name }}</span>

                <button type="button" ng-click="item.remove()">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>

              <div ng-show="uploader.isHTML5" class="drop-zone" ng-file-over>
                <span>Ou arraste a imagem aqui</span>
              </div>

            </div>

            <textarea class="form-control" rows="4" ng-model="inputs.description"></textarea>

            <div class="col-xs-6 checkboxes">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="policy"> Li e concordo com os <a href="#">Termos de Uso</a>
                    </label>
                </div>
            </div>

            <div class="col-xs-6 checkboxes" style="display: none;">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value=""> Compartilhar no Facebook
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-azul btn-signup btn-forgot btn-publish" ng-disabled="!policy">Publicar</button>
        </form>

    </div>
</div>
