<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()"></button>
<div class="terms-of-use">
  <h2>Termos de uso</h2>

  <h3>A. Condições gerais</h3>

  <p>Este documento contém os Termos de Uso da plataforma zeladoria urbana participativa VcSBC, cuja aceitação plena e integral requisito para todos os seus Usuários. Eles incluem, além dos termos gerais, as políticas de responsabilidade, de privacidade e confidencialidade, a licença de uso do conteúdo, e as informações sobre como reportar violações.</p>

  <p>O Usuário deverá ler e aceitar todas as condições aqui estabelecidas antes de seu cadastro na plataforma. Todas as contribuições são bem-vindas, desde que respeitadas as condições aqui expressas.</p>

  <p>O Portal e Aplicativo VcSBC é uma plataforma virtual interativa em software livre voltada à zeladoria urbana participativa que poderá ser utilizada por cidadãos e servidores municipais para registro, acompanhamento e gestão de solicitações de serviços prestados pelo Município de São Bernardo do Campo para proporcionar novas formas de participação e cidadania relacionados à conservação dos equipamentos e ativos municipais. Os Usuários terão acesso, neste espaço, a uma variedade de recursos online, incluindo formulário de solicitação, funcionalidade de pesquisa, painel de acompanhamento e comentários relacionados aos serviços de zeladoria urbana oferecidos pelo Município de São Bernardo do Campo. Determinados recursos, ferramentas e mecanismos podem estar sujeitos a termos e condições complementares a estes Termos de Uso, que poderão ser especificados caso a caso quando necessário.</p>

  <p>O VcSBC é uma iniciativa da Secretaria de Serviços Urbanos e Departamento de Tecnologia da Secretaria de Administração do Município de São Bernardo do Campo em parceria com o Instituto TIM.</p>

  <h3>B. Cadastro e Segurança</h3>

  <p>Para os fins destes Termos de uso, entende-se por Usuário qualquer pessoa que acesse o domínio, aplicativo e os conteúdos do VcSBC, independentemente de cadastro.</p>

  <p>A realização de cadastro pode ser exigida como condição para a utilização de determinados ambientes, recursos ou ferramentas, a critério do VcSBC.</p>

  <p>O cadastramento de um Usuário só será finalizado ao serem preenchidos todos os campos indicados como obrigatórios. O interessado deverá completá-los com informações precisas e verdadeiras, e assumir o compromisso de atualizar os dados pessoais sempre que neles ocorrer alguma alteração.</p>

  <p>O VcSBC não se responsabiliza pela correção dos dados pessoais inseridos por seus Usuários. Os Usuários garantem e respondem, em qualquer caso, pela veracidade, exatidão e autenticidade dos dados pessoais cadastrados.</p>

  <p>O VcSBC se reserva o direito de conferir a identificação de seus Usuários, bem como de solicitar dados adicionais e documentos que julgue pertinentes, a fim de verificar os dados pessoais informados.</p>

  <p>Para acessar sua conta, o Usuário deverá identificar-se por meio de e-mail e senha. O Usuário compromete-se a não informar a terceiros sua senha, responsabilizando-se integral e exclusivamente pelo uso que dela seja feito e pelas operações efetuadas em sua conta.</p>

  <p>O Usuário compromete-se a notificar o VcSBC sobre qualquer uso não autorizado de sua conta, assim como sobre o seu acesso por terceiros não autorizados.</p>

  <p>Contas de Usuário com informações consideradas inadequadas pelo VcSBC, conforme as cláusulas destes Termos de Uso, poderão ser desativadas, ocultadas ou ter seu conteúdo bloqueado sem aviso prévio, garantindo-se a notificação posterior, acompanhada da justificativa, que será remetida para o e-mail fornecido pelo Usuário no cadastramento. Nesses casos, o usuário terá o prazo de 72 horas contadas do recebimento da notificação para contestar a justificativa ou requerer seus registros e arquivos digitais, antes de ter seu perfil excluído permanentemente. No caso de contestação do Usuário, o VcSBC enviará nova notificação informando se foi aceita a justificativa ou se será mantida a decisão anterior. Nesta hipótese, com a notificação reabre-se o prazo de 72 horas para o Usuário solicitar seus registros e arquivos digitais.</p>

  <p>A criação de conta ou a disponibilização de conteúdo na plataforma virtual não geram nenhum direito de suporte técnico ou de indenização por dificuldades técnicas ou falhas nos sistemas. O cancelamento, a suspensão, a perda de dados armazenados, a indisponibilidade ou outra situação adversa que afete o acesso, os dados ou o conteúdo do Usuário não ensejará qualquer tipo de reparação, compensação ou outra obrigação.</p>

  <p>O VcSBC não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento do Usuário causado por falhas no sistema, no servidor ou na internet decorrentes de condutas de terceiros, de vírus por acesso, da utilização ou navegação na internet ou da transferência de dados.</p>

  <h3>C. Publicações de Usuários</h3>

  <p>O conteúdo postado é de inteira responsabilidade do Usuário, não sendo o VcSBC responsável por quaisquer fatos decorrentes da utilização da plataforma.</p>

  <p>As mensagens devem obedecer ao escopo dos serviços ofertados, mantendo-se dentro do assunto em que estão inseridas, em conformidade com estes Termos de Uso.</p>

  <p>Não serão aceitas postagens que contenham vocabulário ofensivo ou desrespeitoso a terceiros, incluindo ofensas, calúnias, injúrias e difamações. Também não serão permitidas postagens que invadam a privacidade de terceiros, que sejam ameaçadoras, preconceituosas ou racistas.</p>

  <p>Caso um Usuário entenda que alguma postagem, artigo, notícia, comentário ou outro conteúdo disponibilizado na plataforma viole algum direito seu, a legislação aplicável ou as cláusulas destes Termos de uso, deverá notificar o VcSBC por meio da página de contato ou de outros canais e ferramentas que possam ser desenvolvidos.</p>

  <p>Todas as informações inseridas na plataforma são consideradas públicas, sem nenhum tipo de confidencialidade, salvo aquelas para os quais o Usuário estabeleceu restrição de privacidade, na forma disponibilizada pelo VcSBC.</p>

  <p>O spam (mensagens não solicitadas) ou o abuso em comentários poderá ser ativamente prevenido através do bloqueio de palavras e expressões predeterminadas, ou excluído posteriormente, sendo cabível a remoção da conta do </p>

  <p>Usuário no caso de tentativas de violação sistemática e repetitiva destes Termos de Uso, incluindo a reintrodução de material que já tenha sido previamente bloqueado ou excluído.</p>

  <p>É vedado ao Usuário:</p>
  <ol>
    <li>transmitir, exibir, enviar ou, de qualquer outra forma, disponibilizar conteúdo que invada a privacidade de terceiros, viole Direitos Humanos ou seja ilegal, ofensivo à honra, ameaçador, vulgar, preconceituoso, racista ou de qualquer forma contrário às cláusulas destes Termos de Uso;</li>
    <li>assumir a identidade de outra pessoa, física ou jurídica;</li>
    <li>forjar cabeçalhos, ou de qualquer outra forma manipular identificadores, a fim de disfarçar a origem de qualquer conteúdo transmitido pela plataforma, com sentido de desmoralizar, desprestigiar ou se fazer passar pelo VcSBC;</li>
    <li>disponibilizar conteúdo em desconformidade com a legislação, incluindo conteúdo que viole marca registrada, patente, segredo de negócio, direito autoral ou qualquer outro direito de terceiro;</li>
    <li>disponibilizar conteúdo com qualquer tipo de propaganda, material promocional, spam (mensagens não solicitadas), correntes ou esquemas de pirâmide;</li>
    <li>disponibilizar conteúdo que contenha vírus ou qualquer outro código, arquivo ou programa de computador, com o propósito de interromper, destruir ou limitar a funcionalidade de qualquer software, hardware ou equipamento de telecomunicações;</li>
    <li>interferir ou interromper os serviços, as redes ou os servidores conectados à plataforma de modo a dificultar a utilização e o aproveitamento dos serviços por outros Usuários, bem como obter ou tentar obter acesso não autorizado à plataforma;</li>
    <li>pedir votos, mencionar número de candidato ou expressar qualquer outra manifestação que se caracterize como propaganda política ou que viole as normas eleitorais.</li>
  </ol>

  <h3>D. Práticas de Uso e Armazenamento</h3>

  <p>A depender da capacidade de espaço no servidor, o VcSBC poderá retirar solicitações, postagens ou outros conteúdos armazenados na plataforma, observados os critérios de antiguidade.</p>

  <h3>E. Privacidade da Informação</h3>

  <p>1.  O VcSBC tomará todas as medidas possíveis para manter a confidencialidade e a segurança da plataforma. No entanto, o VcSBC  não responderá por prejuízos que possam ser derivados da violação dessas medidas por parte de terceiros que subveram os sistemas de segurança para acessar as informações de Usuários.</p>

  <p><i><strong>2. O Município de São Bernardo do Campo poderá fazer o tratamento e uso dos dados pessoais e informações coletadas a partir da utilização do VcBC dos seus Usuários para geração de estatísticas e envio de comunicações oficiais do Município.</strong></i></p>

  <h3>F. Violação no Sistema ou na Base de Dados</h3>

  <p>O responsável por qualquer intromissão, ou tentativa de intromissão, na plataforma ou por atividade que viole ou contrarie as disposições legais aplicáveis ou as cláusulas destes Termos de Uso estará sujeito à aplicação das sanções previstas nestes Temos de Uso, às ações legais pertinentes e às indenizações por eventuais danos causados.</p>

  <h3>G. Sanções</h3>

  <p>4. Sem prejuízo de outras medidas, o VcSBC poderá advertir, bloquear, desativar ou remover, temporária ou definitivamente, a conta de um Usuário a qualquer tempo e iniciar as ações legais cabíveis se:</p>
  <ol>
    <li>o Usuário não cumprir qualquer dispositivo destes Termos de Uso;</li>
    <li>o Usuário praticar atos fraudulentos ou dolosos;</li>
    <li>o VcSBC entender que as postagens, o conteúdo disponibilizado ou qualquer atitude do Usuário tenham causado algum dano a terceiros ou à própria plataforma, ou tenham a potencialidade de assim o fazer.</li>
  </ol>

  <h3>H. Propriedade Intelectual</h3>
  <p>O VcSBC, entendido como obra intelectual em seu conjunto (conceito, logo, domínio, conteúdos, imagens, dados e demais arquivos), é de titularidade do Município de São Bernardo do Campo. É vedado o uso não autorizado da obra ou seu uso em desconformidade com a legislação autoral e com os termos da licença mencionada.<p>

  <p>Aplica-se aos códigos de software desenvolvidos pelo VcSBC a Licença Pública Geral GNU GPL sob o título de ZUP Zeladoria Urbana Participativa, que visa garantir a liberdade de compartilhar e de modificar softwares livres (Disponível em: https://github.com/LaFabbrica, com documentação em http://zup-docs.cognita.ntxdev.com.br/).</p>

  <p>O VcSBC poderá disponibilizar endereços eletrônicos de outros sites da rede, o que não significa que estes sejam de sua propriedade ou por ele operados. A presença de links para outros sites não implica relação de sociedade ou de supervisão do VcSBC com esses sites e seus conteúdos.</p>

  <p>O Usuário do VcSBC responde por todo o conteúdo publicado por meio de seu perfil, inclusive no que diz respeito à violação dos direitos autorais relacionados a tais postagens. O Usuário concorda e autoriza que as postagens de conteúdo de sua autoria sejam licenciadas pela Licença Pública mencionada na cláusula 28, de forma a permitir não só o seu reconhecimento pleno de autoria, como também a possibilidade de replicação, reedição e reformulação de suas postagens por terceiros (condicionadas ao licenciamento de eventuais obras intelectuais derivadas pela mesma licença), com o objetivo de possibilitar a ampliação de discussões e o livre fluxo de informações.</p>

  <h3>I. Inexistência de Vínculo</h3>

  <p>A adesão a estes Termos de Uso pelo Usuário não gera nenhum contrato, mandato, franquia ou vínculo de tipo trabalhista, societário, de parceria ou associativo entre o VcSBC e o Usuário.</p>

  <h3>J. Modificações nos Termos de Uso</h3>
  <p>O VcSBC poderá alterar, a qualquer tempo, estes Termos de Uso, visando seu aprimoramento e melhoria dos serviços prestados. Os novos Termos de Uso entrarão em vigor a partir de sua publicação na plataforma. No prazo de 72 (setenta e duas) horas, contadas a partir da publicação das modificações, o Usuário poderá comunicar-se com o VcSBC, caso não concorde com os novos Termos de Uso. Nesse caso, a conta do Usuário será desativada. Não havendo manifestações no prazo estipulado, entender-se-á que o Usuário aceitou tacitamente os novos Termos de Uso e o contrato continuará vinculando as partes.</p>

  <h3>K. Foro</h3>
  <p>Fica estabelecido o Foro da comarca de São Bernardo do Campo para dirimir questões relacionadas a esse Termo de Uso.</p>
  <a class="btn btn-default btn-azul btn-forgot" ng-click="close()">Fechar</a>
</div>
