<div class="password_reset">
  <h1>Crie a sua nova senha</h1>

  <form role="form" ng-submit="send()">
      <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Digite uma nova senha" ng-model="password">
      </div>

      <div class="form-group">
          <input type="password" class="form-control" id="password_confirmation" placeholder="Repita a nova senha" ng-model="password_confirmation">
      </div>

      <div class="text-center">
          <button type="submit" class="btn btn-default btn-azul btn-login">Confirmar</button>
      </div>
  </form>
</div>
