<div id="main_loading" ng-show="isLoading"><span><img src="images/loading.gif" /></span></div>
<div id="main_loading" ng-show="isLoadingMap"><span><img src="images/loading.gif" /></span></div>

<header>
    <div class="container">
        <div class="logo">
            <span></span>
        </div>

        <div class="navigation centered-pills">
            <ul class="nav nav-pills">
                <li><a href="#">Explore</a></li>
                <li class="active"><a href="#/statistics">Estatísticas</a></li>
            </ul>
        </div>

        <div class="account" ng-hide="!enabledReports">
            <a href="" class="btn btn-azul" ng-click="newReport()" ng-show="logged"><span class="solic-icon"></span> Faça uma solicitação</a>
            <a href="" class="btn btn-azul" ng-click="login()" ng-hide="logged"><span class="solic-icon"></span> Faça uma solicitação</a>
            <a href="" class="btn btn-auth" ng-click="login()" ng-hide="logged">Entrar ou criar conta</a>

            <div class="dropdown" ng-show="logged">
                <a data-toggle="dropdown" href="" class="btn-logged-in">{{ me.name }} <span class="arrow"></span>&nbsp;</a>

                <ul class="dropdown-menu">
                    <li><a href="#/reports">Minhas solicitações</a></li>
                    <li><a href="#/account">Alterar cadastro</a></li>
                    <li><a href="" ng-click="logout()">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="clearfix"></div>

<section id="content">

    <div class="container">
        <div class="col-xs-4 aside">
            <h6>Exibir estatísticas de</h6>

            <a href="" class="sidebar_filter active" ng-repeat="category in categories" ng-click="filterByReportCategory(category)" filter-reports-category>
              <span class="image" ng-style="{'background-image':'url(' + category.icon.retina.web.active + ')'}"></span>
              <span class="text">{{ category.title }}</span>
            </a>

            <hr />

            <div class="slider_content">
              <div id="slider" slider-filter></div>

              <div class="slider-dots">
                  <div class="slider-1">Últimos<br />6 meses</div>
                  <div class="slider-2">Últimos<br />3 meses</div>
                  <div class="slider-3">Último<br />mês</div>
                  <div class="slider-4">Última<br />semana</div>
              </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="col-xs-8 map">
            <div class="estatisticas">
                <div class="numeros">
                    <div id="resolvidas">
                        <input knob data-width="80" data-height="80" data-bgColor="#eaeaea" data-thickness=".21" data-readOnly="true" data-fontWeight="700" data-inputColor="#b2b2b2" data-fgColor="#76cc4f" value="30">
                        <b>206</b>
                    </div><!--/.resolvidas -->
                    <div id="emAndamento">
                        <input knob data-width="80" data-height="80" data-bgColor="#eaeaea" data-thickness=".21" data-readOnly="true" data-fontWeight="700" data-inputColor="#b2b2b2" data-fgColor="#ffac2c" value="10">
                        <b>381</b>
                    </div><!--/.emAndamento -->
                    <div id="emAberto">
                        <input knob data-width="80" data-height="80" data-bgColor="#eaeaea" data-thickness=".21" data-readOnly="true" data-fontWeight="700" data-inputColor="#b2b2b2" data-fgColor="#ff5f4d" value="10">
                        <b>69</b>
                    </div><!--/.emAberto -->
                    <div id="naoResolvidas">
                        <input knob data-width="80" data-height="80" data-bgColor="#eaeaea" data-thickness=".21" data-readOnly="true" data-fontWeight="700" data-inputColor="#b2b2b2" data-fgColor="#979797" value="10">
                        <b>18</b>
                    </div><!--/.naoResolvidas -->
                </div><!--/.numeros -->
                <div class="nomes">
                    <div class="resolvidas">
                        <h3>Solicitações</h3>
                        <h1>Resolvidas</h1>
                    </div><!--/.resolvidas -->
                    <div class="emAndamento">
                        <h3>Solicitações</h3>
                        <h1>Em andamento</h1>
                    </div><!--/.emAndamento -->
                    <div class="emAberto">
                        <h3>Solicitações</h3>
                        <h1>Em aberto</h1>
                    </div><!--/.emAberto -->
                    <div class="naoResolvidas">
                        <h3>Solicitações</h3>
                        <h1>Não resolvidas</h1>
                    </div><!--/.naoResolvidas -->
                </div><!--/.titulos -->
            </div><!--/.estatisticas -->
        </div><!--/.col-xs- -->
    </div>

</section>
